body {
  margin: 0 auto;
  width: 60%;
}

.col{
  float: left;
  box-sizing: border-box;
  padding-right: 20px;
}

body > section{
  width: 70%;
}

body > aside{
  width: 30%;
}

footer {
  float: left;
  margin-top: 10px;
}
